
<div id="search" ng-controller="searchCtrl">
  <div class="close text-right"><a ng-href="/search"><img src="/assets/img/ui/follow_cross.png" class="img-responsive"/></a></div>
  <div class="title">Please type here for a lovely thing...</div>
  <input type="text" ng-model="query" autofocus="autofocus"/>
  <div class="results">
    <div class="section col-xs-12">
      <div class="header">
        <h2>{{sectionText}}</h2>
      </div>
    </div>
    <div class="section-results col-xs-12">
      <ul masonry="masonry">
        <li search-results="search-results" ng-repeat="product in filtered = ( products | filter: query ) | limitTo: 30 | orderBy: section" class="masonry-brick col-xs-2"></li>
      </ul>
    </div>
  </div>
  <div ng-if="filtered.length == 0 &amp;&amp; query.length &gt;= 1" class="no-result">
    <h2>No result found :(</h2>
    <p>Your Search did not return any results, please try again!</p>
  </div>
</div>