
<div id="nav-bottom">
  <div class="menu">
    <div class="menu-block col-xs-4"><span class="info"><a ng-href="/mobile/info">Info</a></span></div>
    <div ng-controller="authCtrl" class="menu-block col-xs-4 text-center"><span ng-hide="currentUser" class="login"><a ng-href="/mobile/signup">Log in / Join</a></span><span ng-show="currentUser" class="logout"><a ng-href="/logout" ng-click="logout()">Log out</a></span></div>
    <div class="menu-block col-xs-4 text-right"><span class="language"><a ng-href="cn.a-lovely-thing.com" class="chinese">中文</a></span></div>
  </div>
</div>