
<div id="follow" ng-show="showFollow"><img ng-click="showFollow=false" src="/assets/img/ui/follow_cross.png" class="close img-responsive"/>
  <div class="wrapper">
    <div class="row">
      <h4>FOLLOW US ON</h4>
    </div>
    <div class="row">
      <div class="col-xs-6 text-center"><a href="https://twitter.com/alovelything" target="_blank" style="display:inline-block;" class="text-center"><img id="twitter" src="/assets/img/ui/twitter.png" class="social_icon img-responsive"/></a></div>
      <div class="col-xs-6 text-center"><a href="https://www.facebook.com/a.lovely.thing" target="_blank" style="display:inline-block;" class="text-center"><img id="facebook" src="/assets/img/ui/facebook.png" class="social_icon img-responsive"/></a></div>
    </div>
    <div class="row">     
      <div class="col-xs-6 text-center"><a href="http://www.weibo.com/u/3076262942" target="_blank" style="display:inline-block;" class="text-center"><img id="weibo" src="/assets/img/ui/sina-weibo.png" class="social_icon img-responsive"/></a></div>
      <div class="col-xs-6 text-center"><a href="https://instagram.com/alt.alovelything" target="_blank" style="display:inline-block;" class="text-center"><img id="instagram" src="/assets/img/ui/instagram.png" class="social_icon img-responsive"/></a></div>
    </div>
  </div>
</div>