
<p><b>
    alt
    . [ <i>a lovely thing</i> ] is an innovative e-commerce platform based in London. We collect and sell unique, eye-catching and lovely products from the most exciting contemporary fashion and lifestyle brands.</b>
  <p>We blend European aesthetics and technical innovation with the energy from a new generation. Available globally, we focus on the fastest developing market: Chinese-speaking consumers.</p>
  <h1>Join us</h1>
  <p>We love products, and we believe lovely products deserve more exposure and sales. At <b>alt</b>. [ <i>a lovely thing</i> ] we are constantly looking for exciting brands to collaborate with, and we are passionate about helping our partners to grow their business, by offering our customised online and market entry services.</p>
  <p>If you are a fashion or lifestyle brand with a unique story, eye-catching products and a burning desire to grow your online business to a new market, email us your interests and an introduction of your brand to <a href="mailto:info@alt-001.com" target="_top" style="text-decoration:underline;color:black;" class="underline">join@alt-001.com</a>.</p>
</p>