
<div ng-controller="authCtrl"><a style="text-decoration:underline;" ng-href="/signup" ng-hide="currentUser" class="row">Register Account<a style="text-decoration:underline;" ng-href="/user/{{currentUser.$id}}/love/loves" ng-show="currentUser" class="row">My Account</a>
    <h1>Shopping with us</h1>
    <p>You can now shop the unique, eye-catching and lovely products from the most exciting fashion and lifestyle brands from Europe, directly on alt. [ a lovely thing ].</p>
    <p>Whenever you see an item that you wish to purchase, click on &quot;Buy&quot; and you will be redirected to the brand&rsquo;s website, where you finalise your order and payment process. Then they will organise the shipment and deliver the item to your home.</p>
    <p>If you see a product with the &quot;Reserve&quot; button, you can request the item through alt. [ a lovely thing ] by simple sending us an email and we will check with the brand if the product is available. If so, we will contact you for follow-ups and we will organise the shipment and deliver the item to you.</p>
    <h1>Contact us</h1>
    <p>Our team is here to help you:</p>
    <p>
      For customer with questions about shopping on alt. [ a lovely thing ], please
      email us to <a href="mailto:care@alt-001.com" target="_top" style="text-decoration:underline;">care@alt-001.com</a>
    </p>
    <p>For brands or designers with an interest to join our platform, please email us your introduction to <a href="mailto:join@alt-001.com" target="_top" style="text-decoration:underline;">join@alt-001.com</a></p>
    <p>For job opportunities, please email us your CV and covering letter to <a href="mailto:career@alt-001.com" target="_top" style="text-decoration:underline;">career@alt-001.com</a></p>
    <p>For press and all other enquiries, please email us to <a href="mailto:info@alt-001.com" target="_top" style="text-decoration:underline;">info@alt-001.com</a></p></a></div>